{{define "base"}}
<!doctype html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}}</title>
        <!-- Ссылка на CSS стили и иконку сайта -->
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <!-- Подключаем новый шрифт для сайта от Google Fonts -->
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
    </head>
    <body >
        <header>
            <h1>{{template "h1Title" .}}</h1>
        </header>
        <nav>
            <a href='/'>Главная</a>
            {{template "Git" .}}
            <a class="technology" href="#">Технология</a>
            <a class="author" href='#'>Автор</a>
            <span class="dR"></span>
            <a class="descriptionLink" href="#">Описание</a>
        </nav>
        
            {{template "main" .}}

        {{template "footer" .}}
        <!-- Подключаем JS чтобы сделать сайт более динамичным -->
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}