{{template "base" .}}

{{define "title"}}Главная страница{{end}}
{{define "h1Title"}}<a class="homeLogo" href='/ui/static'>10 Pet Projects</a>{{end}}

{{define "Git"}}<a href="#" target="_blank">Git</a>{{end}}

{{define "main"}}
<section class='main'>
    <div class='container'>
        <div class='main__box'>
            <div class="main__block"><a class="linkWidthHeight100" href="/calculator">01</a></div>
            <div class="main__block"><a class="linkWidthHeight100ToDoList" href="/todolist">02</a></div>
            <div class="main__block">3</div>
            <div class="main__block">4</div>
            <div class="main__block">5</div>
            <div class="main__block">6</div>
            <div class="main__block"><a class="linkWidthHeight100WebScraping" href="/webscraping">07</a></div>
            <div class="main__block">8</div>
            <div class="main__block"><a class="linkWidthHeight100PasswordGenerator" href="/passwordgenerator">09</a></div>
        </div>
    </div>
</section>

{{end}}