{{template "base" .}}

{{define "title"}}Генератор паролей{{end}}
{{define "h1Title"}}<a class="passwordGeneratorLogo" href='/ui/static'>Password Generator</a>{{end}}
{{define "Git"}}<a href="https://github.com/Igrok95Ronin/passwordGenerator-v-1" target="_blank">Git Password Generator</a>{{end}}
{{define "main"}}
<main class="passwordGeneratorMain no-select">
    <section class="passwordGeneratorSectionGenerator">
        <h2 class="errors errorsPasswordGenerator"></h2>
        <div class="passwordGeneratorTop">
            <form class="passwordGeneratorTopForms">
                <input class="passwordGeneratorTopInput" type="text">
            </form>
            <div class="passwordGeneratorTopWrapper">
                <button class="passwordGeneratorTopBtnCopy"></button>
                <button class="passwordGeneratorTopBtnReload"></button>
            </div>
        </div>

        <div class="passwordGeneratorBottom">
            <h3 class="passwordGeneratorBottomTitle">Customize your password</h3>
            <form class="passwordGeneratorBottomForms">
                <div class="passwordGeneratorBottomLeft">
                    <label class="passwordGeneratorBottomLeftLabel">Password Length</label>
                    <div class="passwordGeneratorBottomLeftInner">
                        <input class="passwordGeneratorBottomLeftInputLength" value="12" name="length" step="1"  type="number" min="8" max="30">
                        <input class="passwordGeneratorBottomLeftRange" value="12" type="range" name="range" min="8" max="30">
                    </div>
                </div>
                <div class="passwordGeneratorBottomRight">
                    <div class="checkboxInner">
                        <input class="check" checked type="checkbox" name="Uppercase" id="Uppercase">
                        <label for="Uppercase">Uppercase</label>
                    </div>
                    <div class="checkboxInner">
                        <input class="check" checked type="checkbox" name="Lowercase" id="Lowercase">
                        <label for="Lowercase">Lowercase</label>
                    </div>
                    <div class="checkboxInner">
                        <input class="check" checked type="checkbox" name="Numbers" id="Numbers">
                        <label for="Numbers">Numbers</label>
                    </div>
                    <div class="checkboxInner">
                        <input class="check" checked type="checkbox" name="Symbols" id="Symbols">
                        <label for="Symbols">Symbols</label>
                    </div>
                </div>
            </form>
            <div class="btnWrapper">
                <button class="btnCopy" name="button" type="button">Copy Password</button>
                <button class="btnGenerate" name="button" type="button">Generate Password</button>
            </div>
        </div>
    </section>
</main>
{{end}}